//- Page template
include pug-mdc
include doggo

doctype html
html(lang="en")
	head
		+charset
		+viewport
		+ie-support
		+description("Lorem ipsum dolor sit amet consectetur")
		+keywords(["hello world", "hello", "world", "foobar"])
		title pug-mdc
		+css("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
		+css("https://fonts.googleapis.com/icon?family=Material+Icons")
	body
		+mdc-button({ label: "Hello World", leftIcon: "favorite" })
		+mdc-list
			+mdc-list-item({ label: "List item 1", trailingIcon: "info", leadingIcon: "inbox" })
			+mdc-list-subheader("Hello World!")
			+mdc-list-item({ label: "List item 2", trailingIcon: "info", leadingIcon: "inbox" })
			+mdc-list-divider
			+mdc-list-item({ label: "List item 3", trailingIcon: "info", leadingIcon: "inbox" })
		+js("https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
		+mdc-auto-init