//-
	TODO:
	- Validate parameters with regex and throw errors if anything goes wrong

//- MDC components
include components/mdc-button
include components/mdc-card
include components/mdc-auto-init
include components/mdc-checkbox
include components/mdc-chip
include components/mdc-chipset
include components/mdc-dialog
include components/mdc-drawer
include components/mdc-fab
include components/mdc-icon-button
include components/mdc-image-list

include components/mdc-grid
include components/mdc-list
include components/mdc-linear-progress
include components/mdc-menu
include components/mdc-radio
include components/mdc-select
include components/mdc-slider
include components/mdc-snackbar
include components/mdc-switch
include components/mdc-tabs
include components/mdc-text-field
include components/mdc-top-app-bar
include components/mdc-typography